.tag{display:inline-block;padding:5px 8px;border-radius:5px;box-shadow:0 1px 1px rgba(0,0,0,.15)}.tag--local{background-color:#578dcd;color:#fff}.tag--development{background-color:#d5d46f;color:#fff}.tag--production{background-color:#ca5a41;color:#fff}