$environments: (
    local: #578dcd,
    development: #D5D46F,
    production: #CA5A41,
);

.tag {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);;
}

@each $environment, $color in $environments {
    .tag--#{$environment} {
        background-color: $color;
        color: #fff;
    }
}
