@import 'config';

.toolbar-vertical {
    transition: margin-left .25s;
}

.toolbar-tray-vertical {
    transition: left .5s ease-in-out;
}

.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
    margin-left: $toolbar-size !important;
}

.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented,
.toolbar-tray-open .toolbar-oriented .toolbar-tray-vertical {
    width: $toolbar-size !important;
}

/**
 * @file toolbar.theme.css
 */
.toolbar {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400 !important;
    font-size: 14px !important;
    tap-highlight-color: rgba(0, 0, 0, 0);
    touch-callout: none;
}

.toolbar .toolbar-item {
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 1.1em 1.3333em;
    line-height: 1em;
    text-decoration: none;
}

.toolbar .toolbar-item:hover,
.toolbar .toolbar-item:focus {
    text-decoration: none;
    outline: none;
}

/**
 * Toolbar bar.
 */
.toolbar .toolbar-bar {
    background-color: $toolbar-bar-bg-color;
    color: $toolbar-bar-link-color;
    margin-left: $toolbar-size+30px;

    .toolbar-tab {
        > .toolbar-item {
            color: $toolbar-bar-link-color;
            font-weight: 100;
            transition: background-color .25s;

            &:hover,
            &:focus {
                background-color: darken($toolbar-bar-bg-color, 5%);
            }

            &.is-active {
                background-color: darken($toolbar-bar-bg-color, 7%);

                &:hover,
                &:focus {
                    background-color: darken($toolbar-bar-bg-color, 7%);
                }
            }
        }
    }
}

/**
 * Toolbar tray.
 */
.toolbar .toolbar-tray {
    background-color: $toolbar-tray-bg-color;
    margin-top: 0 !important;
}

.toolbar .toolbar-logo {
    text-align: center;
    margin: 15px 30px;

    .toolbar-logo__link {
        padding: 0;
        margin: 0;

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }
}

.toolbar .toolbar-environment {
    text-align: center;
    margin: 15px 0;
}

.toolbar-tray a {
    color: $toolbar-tray-link-color !important;
    cursor: pointer;
    padding: 1.25em 1.5em;
    text-decoration: none !important;
    transition: background-color .25s;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($toolbar-tray-bg-color, 15%);
    }
}

.toolbar .toolbar-menu {
    background-color: $toolbar-tray-bg-color;

    > li {
        border-bottom: 1px solid rgba($toolbar-tray-link-color, .05);
    }

    .level-1 > .toolbar-menu {
        background-color: darken($toolbar-tray-bg-color, 3%);
    }

    .level-2 > .toolbar-menu {
        background-color: darken($toolbar-tray-bg-color, 7%);
    }

    .level-3 > .toolbar-menu {
        background-color: darken($toolbar-tray-bg-color, 12%);
    }

    .level-3 > .toolbar-menu {
        background-color: darken($toolbar-tray-bg-color, 15%);
    }
}

.level-2 .toolbar-box > a {
    padding-left: 2.2rem;
}

.level-3 .toolbar-box > a {
    padding-left: 3rem;
    font-size: .95em;
}

/**
 * Orientation toggle.
 */
.toolbar .toolbar-toggle-orientation {
    display: none !important;
}

/**
 * Toolbar adjustments
 */
.toolbar-bar .toolbar-icon-escape-admin {
    background: #30333E;
}

.contextual-toolbar-tab .toolbar-icon {
    background-image: none !important;
    background-color: $toolbar-tray-bg-color;
}

/**
 * Global search
 */
.toolbar .global-search-toolbar-tab {
    float: right !important;

    .search-global {
        padding: 1em !important;
    }
}

.menu-item {
    overflow: hidden;
    opacity: .7;
    transition: opacity .2s ease-in-out;

    &.open {
        &,
        .menu-item {
            opacity: 1;
        }
    }
}

// Ugly Drupal core override
.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a, .toolbar .toolbar-tray a.is-active {
    font-weight: 400;
}

.open .toolbar-menu {
    animation-name: open;
    animation-duration: .25s;
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
